.header-txt {
    position: relative;
    font-size: 90px;
    text-align: center;
    color: white;
    bottom: -100px;
    z-index: 2;
    font-weight: 600;
    transform: translateY(-300px);
    animation: slideDown .8s ease-in-out forwards .8s;
}

.txt-div {
    display: flex;
    flex-direction: column;
    line-height: 100px;
    margin-top: 20px;
}

.sub-header {
    position: relative;
    font-size: 30px;
    color: white;
    bottom: -100px;
    text-align: center;
    z-index: 2;
    transform: translateY(-400px);
    animation: slideDown .7s ease-in-out forwards .7s;
}

.header-buttons {
    display: flex;
    position: relative;
    justify-content: center;
    z-index: 2;
    margin-top: 10px;
}

#buttonid {
    margin-left: 20px;
    margin-right: 20px;
}

.btn {
    font-size: 23px;
}

.header-container {
    background: url(mobile2.jpg) center center/cover no-repeat transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* top: -5px; */
    height: 67vh;
    background-size: cover;
}

.header-wordz {
    display: flex;
    flex-direction: row;
}

.quote-div {
    margin-top: -270px;
}

@keyframes slideDown {
    0% {
      transform: translateY(-300px);
    }
    100% {
      transform: translateY(0px);
    }
  }

@media screen and (max-width: 940px) {
    .sub-header {
        width: 700px;
        margin: 0 auto;
        line-height: 50px;
        padding-bottom: 60px;
        /* margin-top: 20px; */
    }

    .header-txt {
        font-size: 80px;
    }
}

@media screen and (max-width: 720px) {
    .sub-header {
        width: 600px;
        margin: 0 auto;
        line-height: 60px;
        padding-bottom: 60px;
        /* margin-top: 20px; */
    }

    .header-txt {
        font-size: 65px;
    }
}

@media screen and (max-width: 580px) {
    .sub-header {
        width: 500px;
        margin: 0 auto;
        line-height: 40px;
        padding-bottom: 60px;
        font-size: 25px;
    }

    .header-txt {
        font-size: 45px;
        line-height: 60px;
    }

    #header1 {
        padding-top: 40px;
    };
    
    .scroll-btn {
        font-size: 15px;
        padding-top: 20px;
    }
}

@media screen and (height: 640px) {
    .header-wordz {
        margin-top: -20px;
    }
}

@media screen and (height: 667px) {
    .header-wordz {
        margin-top: 100px;
    }
}

@media screen and (height: 720px) {
    .header-txt {
        font-size: 55px;
    }

    .txt-div {
        margin-top: -120px;
    }
}

@media screen and (height: 833px) {
    .header-wordz {
        margin-top: -100px;
    }
}

@media screen and (height: 1024px) {
    .header-wordz {
        margin-top: 100px;
    }
}

@media screen and (MAX-WIDTH: 1024px) {
    .header-wordz {
        margin-top: 150px;
    }
}

@media screen and (max-width: 414px) {
    .sub-header {
        width: 340px;
        margin: 0 auto;
        font-size: 23px;
        padding-top: 40px;
    }

    .header-txt {
        font-size: 40px;
        line-height: 0px;
        margin-top: 100px;
        padding-bottom: -30px;
    }

    .header-container {
        height: 100vh;
    }
}

@media screen and (max-width: 375px) {
    .sub-header {
        width: 370px;
        margin: 0 auto;
        font-size: 23px;
        padding-top: 40px;
    }

    .header-txt {
        font-size: 40px;
        line-height: 0px;
        margin-top: 50px;
        padding-bottom: -30px;
    }

    .header-container {
        height: 70vh;
    }

    #header1 {
        margin-top: 90px;
    }
}
