.services-container {
    background-color: white;
    color: black;
    margin-top: -240px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.services {
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding-top: 50px;
}

.grid-image {
    width: 300px;
    height: 200px;
    border-radius: 5%;
    box-shadow: 15px 15px 8px #888888;
}

.grid-images {
    text-align: center;
    align-items: center;
}

.service-title {
    font-size: 55px;
    text-align: center;
}

.service-txt {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}


