.wcu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(219, 219, 219);
    z-index: -2;
}

.wcu-img {
    width: 140px;
    filter: brightness(0%);
    padding-top: 20px;
    padding-bottom: 20px;
}

.wcu-div {
    text-align: center;
    padding-bottom: 30px;
    transform: translateY(300px);
    animation: slideUp 1s ease-in-out forwards 1s;
}

#warrenty {
    width: 143px;
}

.wcu-h {
    font-size: 28px;
}

.wcu-p {
    font-size: 20px;
    width: 380px;
    margin: 0 auto;
}

@keyframes slideUp {
    0% {
      transform: translateY(300px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  @media screen and (max-width: 414px) {
    .wcu-p {
        width: 330px;
    }
}